

{% assign description_seo = site.description %}
{% assign title_seo = site.title %}


{% if page.path contains '_posts/' %}

	{% assign page_subtitle = page.title %}
	{% assign page_description = page.description %}
	{% assign page_content = page.content %}

{% else %}

	{% comment %}
	{% assign page_src_img = '' %}
	{% assign page_subtitle = '' %}
	{% assign page_description = '' %}
	{% assign page_content = '' %}
	{% assign page_template_page = '' %}
	{% endcomment %}
	{% include clean_blog/utils/pages-config/filter_current_page.html 
	    url=page.url
	    root_page='home'
	%}
{% endif %}


{% if page.url == '/' %}
	{% assign title_seo = title_seo | prepend: 'Home page ' %}	
{% else %}
	{% unless page_subtitle == null and page.url == '/' %}	
		{% assign title_seo = title_seo | append: '-' | append: page_subtitle %}    
	{% endunless %}
{% endif %}


{% if page_description == null or page_description.length < 5 %}

	{% assign text_splitted = page_content %}
  {% include coll_ext/extra_utils/text/split-text-until-first-match.html 
    text= page_content
    match_ref='</h1>'
  %}
  {% assign excerpt_local = text_splitted | strip_html | truncatewords: 20 %}

	{% assign description_seo = description_seo | append: ' ' | append: excerpt_local %}

{% else %}

	{% assign description_seo = description_seo | append: ' ' | append: page_description %}
{% endif %}




<meta name="description" content="{{description_seo | strip_html | strip_newlines | truncate: 250}}" />


 <title>
  {{title_seo}}
</title>
