{%comment%}<!--
param in :
  include.src_img  page_src_img
  include.subtitle page_subtitle
  include.description page_description
param out :
  see list output 
 -->{%endcomment%}


<header class="intro-header" style="background-image: url({{include.src_img}})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ include.subtitle }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ include.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>