{% comment %}<!--
  param in :
  include.model_list list
  include.model_ref  include.model_sort_ref 

  var globale
 

  param out:
    path_coll_ext , root path coll_ext, extract from model
  	internal, see raw_items_pages.html on same folder
   
 -->{% endcomment %}


{% assign model = include.model_list %}

{% if model.id == include.model_ref %} 
  {% if model.force_display_coll_ext == true %}

    {% assign path_coll_ext = '_' | append: model.collection | append: '/' | append: model.force_display_coll_ext_section | append: '/' %}

    {% include coll_ext/extra_utils/list-detail-items_init_step.html 
      force_page_url_to_root=true
    %}

    {% include coll_ext/main.html
      force_page_ref_input=true
      force_display_empty_section=true
      force_no_display=true       
    %}
  {% endif %}
{% endif %}