{% comment %}<!--
  param in :
  include    

  var globale
  site.lang , default 'en'
    site.recaptcha_key   

  param out:
    html  template form_contact_list

 -->{% endcomment %}
{% comment %} template form_contact_list {% endcomment %}

<form name="sentMessage" id="contactForm" novalidate >

  
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <input type="email" class="form-control" placeholder="Email*" id="email" aria-describedby="email_help" required data-validation-required-message="Please enter your email address.">
      <small id="email_Help" class="form-text text-muted help-block text-danger">* Required. We'll never share your email with anyone else.</small>
      <!-- <small id="emailHelp" class="form-text text-muted help-block text-danger">Les données personnelles ne sont en aucuns cas partagées. Voir mentions légales.</small> -->
    </div>
  </div>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <input type="text" class="form-control" placeholder="Contact name" id="name">
      <!-- <label>Name contact</label> -->
      <!-- <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name."> -->
      <!-- <p class="help-block text-danger"></p> -->
    </div>
  </div>
  <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <textarea rows="2" class="form-control" placeholder="Message" id="message" ></textarea>
    </div>        
  </div>
   <div class="row control-group">
    <div class="form-group col-xs-12 floating-label-form-group controls">
      <div class="g-recaptcha" id="recaptcha" data-sitekey="{{site.recaptcha_key}}"></div>
    </div>        
  </div>    

  <!-- <br> -->
  <div id="success"></div>
  <div class="row">
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-default">Send</button>           
    </div>
  </div>
</form>


<script src='https://www.google.com/recaptcha/api.js?hl=fr'></script>