{%comment%}<!--
param in :
  include.url  page.url
  include.root_page 'home'
param out :
  see list output 
 -->{%endcomment%}

{% comment %}Output page meta ! {% endcomment %}
{% assign page_name_id = '' %}
{% assign page_src_img = '' %}
{% assign page_subtitle = '' %}
{% assign page_description = '' %}
{% assign page_content = '' %}
{% assign page_template_page = '' %}
{% assign page_header_page = '' %}


{% comment %} extract PAGES raw items, array from collection clean_blog {% endcomment %}
{% include clean_blog/utils/pages-config/extract_pages-clean_blog.html
  model_sort_ref='pages-order'
%}
{% comment %} output : array_pages , raw_items_section {% endcomment %}
{% comment %}----------------------{% endcomment %}

{% comment %} current page path ref; if url null force root page, default home ! {% endcomment %}
{% assign name_id= null %}
{% include coll_ext/utils/extract_from_url/name_id.html 
  url=include.url
  last_part_only=true
%}
{% if name_id == null %}
  {% assign name_id = include.root_page %}                
{% endif %}

{% assign page_name_id = name_id %}

{% assign page_path_ref = name_id | prepend: '/' | append: site.collections_ext.path_extension_section %}


{% for index_page in (0..array_pages_size) %}

  {% assign index_array_part = array_pages[index_page] | plus: 0  %}
  {% assign page_tmp = raw_items_page[index_array_part] %}

  
  {% assign add_current_page = false %}

  {% if page_tmp.path contains page_path_ref %}
    {% assign add_current_page = true %}
  {% else %}
    {% comment %}
      specific paginate plugins
    {% endcomment %}
    {% if page_tmp.template_page contains 'paginate' and include.url contains '/page' %}
      {% assign name_split = include.url | split: '/page' %}
      {% assign page_num = name_split[1] | slice: 0 %}

      {% assign char_is_num = false %}
      {% include coll_ext/extra_utils/text/char-is-num.html
        char=page_num
      %}
      {% if char_is_num %}
        {% assign name_id_temp = name_split[0] %}
        {% if name_id_temp == '' %}
          {% assign name_id_temp = include.root_page %}                
        {% endif %}
        {% assign page_path_temp = name_id_temp | prepend: '/' | append: site.collections_ext.path_extension_section %}
        {% if page_tmp.path contains page_path_temp %}
          {% assign add_current_page = true %}
        {% endif %}                
      {% endif %}
      
    {% endif %}
  {% endif %}



  {% if add_current_page %}        

    {% assign src_img = '' %}
    {% assign path_img = site.header-img %}
    {% if page_tmp.header-img %}
      {% assign path_img = page_tmp.header-img %}
    {% endif %}
    {% include coll_ext/extra_utils/path-image-src.html 
      path_image=path_img
    %}

    {% comment %}
    ------------------------
      Output meta
    ------------------------
    {% endcomment %}
    {% assign page_src_img = src_img %}
    {% assign page_subtitle = page_tmp.subtitle %}
    {% assign page_description = page_tmp.description %}
    {% assign page_content = page_tmp.content %}
    {% assign page_template_page = page_tmp.template_page %}
    {% assign page_header_page = page_tmp.header_page %}

  {% endif %}
{% endfor %}