{% include coll_ext/config/common-param.html %}


{% comment %}{% assign path_ref = '/site-config/navigation/' %}{% endcomment %}
{% assign model_sort_ref = 'navigation-order' %}

{% for list in site.data.clean_blog.list-detail-items %}
  {% if list.id == model_sort_ref %} 
    {% if list.force_display_coll_ext == true %}
      {% include coll_ext/extra_utils/list-detail-items_init_step.html 
        force_page_url_to_root=true
      %}
     
      {% include coll_ext/main.html
        force_page_ref_input=true
        force_no_display=true       
      %}
     
    {% endif %}
  {% endif %}
{% endfor %}

{% assign array_items = items_display_subsection | remove_first: delim | split: delim %}
{% assign array_items_size = array_items.size | minus: 1 %}

{% comment %}
 page_ref_url=page_ref_url
  page_ref_model=page_ref_model
  page_ref_sort_items=page_ref_sort_items
  page_ref_choose_subsections=page_ref_choose_subsections
  page_ref_filter_subsections=page_ref_filter_subsections
{% endcomment %}